
.code {
    font-family: monospace;
    background-color: beige;
}

thead {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-family: monospace;

}

table {
    border: 2px solid darkblue;
    width: 650px;
    margin: 50px auto;
    border-spacing: 2px;
    white-space: normal;
    border-collapse: separate;
    text-indent: initial;
    line-height: normal;
    text-align: left;

}

td {
    border: 1px solid darkblue;
    padding: 5px;
}

body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}   

h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}